name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build & test with Maven
        working-directory: devopsdemo
        run: mvn clean test

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image (versioned)
        working-directory: devopsdemo
        run: |
          IMAGE_NAME=abhiramkosuru/devops-demo
          TAG=${GITHUB_SHA::7}

          docker build -t $IMAGE_NAME:$TAG .
          docker tag $IMAGE_NAME:$TAG $IMAGE_NAME:latest

      - name: Push Docker image
        run: |
          IMAGE_NAME=abhiramkosuru/devops-demo
          TAG=${GITHUB_SHA::7}

          docker push $IMAGE_NAME:$TAG
          docker push $IMAGE_NAME:latest
